﻿@model IEnumerable<StudentDash.Models.Grade>

@{
    ViewBag.Title = "Details";
}

<h2> Course Grades Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GradeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradeType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcheivedMarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GradeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GradeType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalMarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcheivedMarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Course.Name)
        </td>
    </tr>
}

</table>
