﻿@model StudentDash.Models.Course


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.Id)
        <div class="form-group" id="CourseList">
            <div class="col-md-10">
                <label class=" control-label">Select Course</label>
                @Html.DropDownList("CourseId", null, htmlAttributes: new { @class = "form-control" } )
               
            </div>
        </div>
    </div>
    <div id="chartContainer"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <script type="text/javascript" src="~/Content/js/canvasjs.mini.js"></script>
    <script type="text/javascript">

 $(document).ready(function() {
     $('#CourseList').change(function () {
         var courseid = $('#CourseId').val();
         
         $.ajax({
             type: "POST",
             url: "/Courses/getStudentGrades",
             data: JSON.stringify({ 'courseid': courseid }),
             contentType: "application/json; charset=utf-8",
             dataType: "json",
             success: function (response) {
                 data1 = JSON.parse(response.data1);
                 var chart = new CanvasJS.Chart("chartContainer", {
                     theme: "theme2",
                     zoomEnabled: true,
                     animationEnabled: true,
                     title: {
                         text: "Grades graph"
                     },
                     subtitles: [
                         {
                             text: "Ratio to Grades"
                         }
                     ],
                     data: [
                         {
                             type: "line",
                             /*dataPoints: [
                                 { x: 10, y: 71 },
                                 { x: 20, y: 55 },
                                 { x: 30, y: 50 },
                                 { x: 40, y: 65 },
                                 { x: 50, y: 95 },
                                 { x: 60, y: 68 },
                                 { x: 70, y: 28 },
                                 { x: 80, y: 34 },
                                 { x: 90, y: 14 },
                                 { x: 100, y: 33 },
                                 { x: 110, y: 42 },
                                 { x: 120, y: 62 },
                             ],*/
                             dataPoints: data1
                         }
                     ]
                 });
                 chart.render();
             },
             failure: function (response) {
                 console.log(response.responseText);
             },
             error: function (response) {
                 console.log(response.responseText);
             }
         });

     });
 });
    </script>

}
