﻿@model IEnumerable<StudentDash.Models.Course>

@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Courses</h2>
@if (!User.IsInRole("Admin"))
{
<div class="row">

    @foreach (var item in Model)
    {

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>
                        @Html.DisplayFor(modelItem => item.CurrentGrade)<sup style="font-size: 20px"> %</sup>
                    </h3>

                    <p>@Html.DisplayFor(modelItem => item.Name)</p>
                </div>
                <div class="icon">
                    <i class="fa fa-graduation-cap"></i>
                </div>
                <a href="#" class="small-box-footer">@Html.DisplayFor(modelItem => item.Code) </a>
            </div>
        </div>
        <!-- ./col -->

    }

</div>
}
<p>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {@Html.ActionLink("Add New Course", "Create")
}
</p>


<input type="text" id="searchInput" onkeyup="searchfunction()" placeholder="Search By Names..." title="Type in a name">
<table class="table" id="recordtable">
    <tr class="header">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credits)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentGrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Program.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Program.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id })

            </td>
        </tr>
    }

</table>
<script>
    function searchfunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("recordtable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>