﻿@model IdentitySample.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}
    

@{
    ViewBag.Title = "Forgot your password?";
}

<div class="login-box-body">
<h3 class="login-box-msg">Reset your Password</h3>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { placeholder = Html.DisplayNameFor(m => m.Email), @class = "form-control" })
    </div>
    <div class="form-group">
            <input type="submit" class="btn btn-danger btn-block btn-flat" value="Email Reset Link" />
    </div>

    <p>
        @Html.ActionLink("Register a new membership", "Register")
    </p>
    <p>
        @Html.ActionLink("I already have a membership", "Login")
    </p>
}</div>

