﻿@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}


<div class="login-box-body">
    <h3 class="login-box-msg">Reset your Password</h3>

    <div>
        <p>
            Please check your email to reset your password.
        </p>
        <p class="text-danger">
            For DEMO only: You can click this link to reset password: <a href="@ViewBag.Link">link</a>
        </p>
    </div>

</div>
