﻿@model IdentitySample.Models.LoginViewModel
    
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}



<div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                        @Html.TextBoxFor(m => m.Email, new { placeholder = Html.DisplayNameFor(m => m.Email), @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                        @Html.PasswordFor(m => m.Password, new { placeholder = Html.DisplayNameFor(m => m.Password), @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                        <input type="submit" value="Log in" class="btn btn-primary btn-block btn-flat" />
                </div>
                <p>
                    @Html.ActionLink("Register a new membership", "Register")
                </p>
                <p>
                    @Html.ActionLink("Forget your password", "ForgotPassword")
                </p>
            }
        </section>
       

    </div>

