﻿@model IdentitySample.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}


    <div class="register-box-body">
        <h4 class="login-box-msg">Register a new membership</h4>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })


            <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.FirstName, new { placeholder = Html.DisplayNameFor(m => m.FirstName), @class = "form-control" })
            </div>
            <div class="form-group">
                    @Html.TextBoxFor(m => m.LastName, new { placeholder = Html.DisplayNameFor(m => m.LastName), @class = "form-control" })
            </div>
            <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { placeholder = Html.DisplayNameFor(m => m.Email), @class = "form-control" })
            </div>
            <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { placeholder = Html.DisplayNameFor(m => m.Password), @class = "form-control" })

            </div>
            <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = Html.DisplayNameFor(m => m.ConfirmPassword), @class = "form-control" })
            </div>
            <div class="form-group">
                    <input type="submit" class="btn btn-success btn-block btn-flat" value="Register" />

            </div>
        }


        <!-- /.form-box -->
        @Html.ActionLink("I already have a membership", "Login")

    </div>




