﻿@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}


<div class="login-box-body">
<h3 class="login-box-msg">Password has been Reset</h3>

<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
    </div>