﻿@model IdentitySample.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}


    <div class="login-box-body">
        <h3 class="login-box-msg">Reset Password</h3>


        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { placeholder = Html.DisplayNameFor(m => m.Email), @class = "form-control" })
            </div>
            <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { placeholder = Html.DisplayNameFor(m => m.Password), @class = "form-control" })
            </div>
            <div class="form-group">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = Html.DisplayNameFor(m => m.ConfirmPassword), @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-danger btn-block btn-flat" value="Reset" />
            </div>
            @Html.ActionLink("I already have a membership", "Login")

        }

        </div>