﻿@model IEnumerable<StudentDash.Models.Grade>

  @{
        ViewBag.Title = "Grades";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Grades</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <input type="text" id="searchInput" onkeyup="searchfunction()" placeholder="Search By Names..." title="Type in a name">
    <table class="table" id="recordtable">
        <tr class="header">
            <th>
                @Html.DisplayNameFor(model => model.GradeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalMarks)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GradeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GradeType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalMarks)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Name)
                </td>
                <td>

                    @Html.ActionLink("Update Student Grade", "updatestudentgrade", new { id = item.Id }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) 
                </td>
            </tr>
        }

    </table>

<script>
    function searchfunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("recordtable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>