﻿@model StudentDash.Models.GradeVM
@{
    ViewBag.Title = "updatestudentgarde";
}

<h2>Update Student Grade</h2>
@if (TempData["UserMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success! </strong> @TempData["UserMessage"]
    </div>
}

<table class="table table-striped">
    <tr>
        <td>
            Grade Name
        </td>
        <td>
            Total Marks
        </td>
        <td>
            Weight
        </td>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.grade.GradeName)
        </td>
        <td>
            @Html.DisplayFor(model => model.grade.TotalMarks)
        </td>
        <td>
            @Html.DisplayFor(model => model.grade.Weight)
        </td>
    </tr>
</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.HiddenFor(model => model.grade.Id)
        <div class="form-group" id="StudentList">
            <div class="col-md-10">
                <label class=" control-label"> Please Select Student</label>
                @Html.DropDownList("StudentId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group" id="acheivedtxt">

            <div class="col-md-10">
                <label class=" control-label"> Achieved Marks</label>
                @Html.EditorFor(model => model.grade.AcheivedMarks, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.grade.AcheivedMarks, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update Grade" class="btn btn-default" />
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
 $(document).ready(function() {
     $('#StudentList').change(function () {
         var str = $('#StudentId').val();
         var gradeid =  @Html.DisplayFor(model => model.grade.Id);
         
         $.ajax({
             type: "POST",
             url: "/Grades/getMarks",
             data: JSON.stringify({ 'studentid': str, 'gradeid': gradeid }),
             contentType: "application/json; charset=utf-8",
             dataType: "json",
             success: function (response) {
                 $("#grade_AcheivedMarks").val( response.AcheivedMarks);
             },
             failure: function (response) {
                 console.log(response.responseText);
             },
             error: function (response) {
                 console.log(response.responseText);
             }
         });
        
     });
 });
    </script>
}