﻿@model IEnumerable<StudentDash.Models.Event>
@if (Model.Count() > 0)
{
<table class="table table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start)
        </td>
        
    </tr>
}

</table>
}
