﻿@using Microsoft.AspNet.Identity
<header class="main-header">
    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b>S</b>D</span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg"><b>student</b>Dash</span>
    </a>
    @* END Logo *@
    @* BEGIN Header *@
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
           
      

                @* BEGIN User Account Menu *@

                @if (Request.IsAuthenticated)
    {
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="hidden-xs"></span>
                    <i class="fa fa-user"></i>
                </a>
                <ul class="dropdown-menu">
                    <li class="user-header">
                        <p class="username">
                            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @style = "color:#ffffff;" })
                        </p>
                    </li>
                    <li class="user-footer">
                        <div class="pull-right">
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "btn btn-default btn-flat" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Sign out</a>
    }
                        </div>
                    </li>
                </ul>
            </li>
           
}
else
{
            <li>@Html.ActionLink("Login", "Login", "Account")</li>
            <li>@Html.ActionLink("Register", "Register", "Account")</li>
}
                @* END User Account Menu *@

            </ul>
        </div>
    </nav>
</header>