﻿@using WebHelpers.Mvc5
@using Microsoft.AspNet.Identity

<aside class="main-sidebar">
    <section class="sidebar">
        
        @* BEGIN Menu *@
        <ul class="sidebar-menu" data-widget="tree">

            @if (Request.IsAuthenticated)
    {
        <li class="header">@User.Identity.GetUserName()</li>
        <li class="@Url.IsLinkActive("Index", "Home")">
            <a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> <span>Dash</span></a>
        </li>
        <li class="@Url.IsLinkActive("Index", "Courses")">
            <a href="@Url.Action("Index", "Courses")"><i class="fa fa-book"></i> <span>Courses</span></a>
        </li>
        <li class="@Url.IsLinkActive("Index", "Grades")">
            <a href="@Url.Action("Index", "Grades")"><i class="fa fa-bar-chart"></i> <span>Grades</span></a>
        </li>
if (User.IsInRole("Admin"))
{

        <li class="@Url.IsLinkActive("Index", "Programs")">
            <a href="@Url.Action("Index", "Programs")"><i class="fa fa-bar-chart"></i> <span>Programs</span></a>
        </li>
}
        <li class="@Url.IsLinkActive("getStudentCourses", "Courses")">
            <a href="@Url.Action("getStudentCourses", "Courses")"><i class="fa fa-calendar"></i> <span>Graphs</span></a>
        </li>
        <li class="@Url.IsLinkActive("Index", "Events")">
            <a href="@Url.Action("Index", "Events")"><i class="fa fa-calendar"></i> <span>Calendar</span></a>
        </li>
        <li class="@Url.IsLinkActive("Index", "ToDoLists")">
            <a href="@Url.Action("Index", "ToDoLists")"><i class="fa fa-list"></i> <span>To Do List</span></a>
        </li>

        <li class="@Url.IsLinkActive("Index", "Account")">
            <a href="@Url.Action("Index", "Manage")"><i class="fa fa-user"></i> <span>Your Account</span></a>
        </li>
        <li class="@Url.IsLinkActive("Index", "Account")">
            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out"></i> <span>Log Out</span></a>
        </li>

}
else
{
        <li class="@Url.IsLinkActive("Login", "Account")">
            <a href="@Url.Action("Login","Account")"><i class="fa fa-sign-in"></i> <span>Log In</span></a>
        </li>
        <li class="@Url.IsLinkActive("Register", "Account")">
            <a href="@Url.Action("Register","Account")"><i class="fa fa-user"></i> <span>Register</span></a>
        </li>
}
        </ul>
        @* END Menu *@
    </section>
</aside>