﻿@using System.Web.Optimization
@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            @ViewBag.Title@: |
        }
        StudentDash
    </title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
@*    @Styles.Render("~/Bundles/css")*@

    <link href="~/Content/css/AdminLTE.css" rel="stylesheet" />
    <script src="~/Content/js/plugins/jquery/jquery-2.2.4.min.js"></script>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/js/plugins/jquery-ui/jquery-ui.min.js"></script>

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        
        <div class="content-wrapper" style="margin-left: 0px">
            <section class="content-header">
                <h1>

                    <small>@ViewBag.Description</small>
                </h1>
            </section>
            <section class="content">
                <div class="login-box">
                <div class="login-logo">
                    <img src="~/Content/img/dash-logo.png" />
                </div>
                <!-- /.login-logo -->

                @RenderBody()
                    
                </div><!-- /.login-box-body -->
            </section>
        </div>
    </div>
    <script src="@RouteJs.RouteJsHandler.HandlerUrl"></script>
    @Scripts.Render("~/Bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>