﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    ViewBag.Title = "Admin Home Page";
    ViewBag.Description = "Welcome to Admin Home Page";
}
else
{
    ViewBag.Title = "Home";
    ViewBag.Description = "Welcome " + @Session["StudentFirstName"];
}

<div class="column">
    <div class="portlet">
        <div class="portlet-header">Student Details</div>
        @if (User.Identity.IsAuthenticated)
        {
            { Html.RenderAction("getStudentGpa", "Students"); } 
        }
    </div>
    <div class="portlet">
        <div class="portlet-header">Feeds</div>
        <div class="card-body">
            <div class="media">
                <div class="media-body">
                    <!-- Twitter Widget Start -->
                    <a class="twitter-timeline" data-height="400" href="https://twitter.com/sheridancollege">Sheridan College</a>
                    <script>
                        !function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0],
                                p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + "://platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, "script", "twitter-wjs");
                    </script>
                    <!-- Twitter Widget End -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="column">
    <div class="portlet">
        <div class="portlet-header">Location</div>
        <div class="media-body">
            <h4 class="media-heading">To Sheridan College</h4>
            <!-- Location Widget Start -->
            <!--Animation start-->
            <div id="loader">
                <span>{</span><span>}</span>
            </div>
            <!-- animation end-->
            <!--info start-->
            <p id="origin"></p>
            <p id="destination"> </p>
            <p id="distance"> </p>
            <p id="average_duration"> </p>
            <p id="duration_now"> </p>
            <p id="message"> </p>
            <!-- info end-->
            <!-- animation css start-->
            <style type="text/css">
                #loader {
                    color: #ff5500;
                    font-family: Consolas, Menlo, Monaco, monospace;
                    font-weight: bold;
                    font-size: 10vh;
                    opacity: 0.8;
                    display: none;
                }

                    #loader span {
                        display: inline-block;
                        -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
                        animation: pulse 0.4s alternate infinite ease-in-out;
                    }

                        #loader span:nth-child(odd) {
                            -webkit-animation-delay: 0.4s;
                            animation-delay: 0.4s;
                        }

                @@-webkit-keyframes pulse {
                    to {
                        -webkit-transform: scale(0.8);
                        transform: scale(0.8);
                        opacity: 0.5;
                    }
                }

                @@keyframes pulse {
                    to {
                        -webkit-transform: scale(0.8);
                        transform: scale(0.8);
                        opacity: 0.5;
                    }
                }
            </style>
            <!--animation css end -->

            <script type="text/javascript">
                //display messages
                var message = document.getElementById("message");

                // on button click get user location or display error
                function getLocation() {
                    document.getElementById("loader").style.display = "inline-block";
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(showPosition, showError);
                    }
                    else {
                        message.innerHTML = "Geolocation is not supported by this browser.";
                    }
                }

                //if user allow then send request to api
                function showPosition(position) {

                    var origin = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    var destination = 'Sheridan college Brampton';
                    var service = new google.maps.DistanceMatrixService();
                    service.getDistanceMatrix(
                        {
                            origins: [origin],
                            destinations: [destination],
                            travelMode: 'DRIVING',
                            drivingOptions: {
                                departureTime: new Date(Date.now()),
                                trafficModel: 'bestguess'
                            }

                        }, callback);

                    // Print the response
                    function callback(response, status) {
                        if (status == 'OK') {
                            document.getElementById("loader").style.display = "none";
                            var origins = response.originAddresses;
                            var destinations = response.destinationAddresses;

                            for (var i = 0; i < origins.length; i++) {
                                var results = response.rows[i].elements;
                                for (var j = 0; j < results.length; j++) {
                                    var element = results[j];
                                    document.getElementById("distance").innerHTML = "Total Distance: " + element.distance.text;
                                    //The length of time it takes to travel this route taking into account current traffic conditions
                                    document.getElementById("duration_now").innerHTML = "Duration Now: " + element.duration_in_traffic.text;
                                    document.getElementById("average_duration").innerHTML = "Average Time: " + element.duration.text;
                                    document.getElementById("origin").innerHTML = "Your Location: " + origins[i];
                                    document.getElementById("destination").innerHTML = "Destination: " + destinations[i];
                                    message.innerHTML = " ";

                                }
                            }
                        }
                    }
                }

                // display error
                function showError(error) {
                    document.getElementById("loader").style.display = "none";
                    switch (error.code) {
                        case error.PERMISSION_DENIED:
                            message.innerHTML = "Denied the request for Geolocation."
                            break;

                        case error.POSITION_UNAVAILABLE:
                            message.innerHTML = "Location information is unavailable."
                            break;

                        case error.TIMEOUT:
                            message.innerHTML = "The request to get user location timed out."
                            break;

                        case error.UNKNOWN_ERROR:
                            message.innerHTML = "An unknown error occurred."
                            break;
                    }
                }
            </script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb2PUPm_b9R09jGQ9MVnj9D-re-63orZ4"></script>
            <button class="btn-primary" onclick="getLocation()"> Check Traffic </button>
        </div>
    </div>
    <div class="portlet">
        <div class="portlet-header">Courses</div>
        @if (User.Identity.IsAuthenticated)
        {
            { Html.RenderAction("getStudentGrades", "Students"); }
        }
    </div>
    <div class="portlet">
        <div class="portlet-header">Upcoming Events</div>
        @if (User.Identity.IsAuthenticated)
        {
            { Html.RenderAction("EventsList", "Events"); }
        }
    </div>
    <!--    Commented Out this Code because rendering data using Partial View
    <div class="portlet">
        <div class="portlet-header">Courses</div>
        <div class="portlet-content">
            <table class="table table-striped ">
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Current Grade</th>
                    </tr>
                </thead>
                <tbody id="loadHere"></tbody>
            </table>
        </div>
    </div>
       <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script lang="en" type="text/javascript">
        $.ajax({
            type: "GET",
            dataType: "json",
            async: false,
            cache: false,
            url: '/Students/GetStudentData',
            success: function (result) {
                result = JSON.parse(result);
                $.each(result, function (idx, obj) {

                    if (typeof obj == 'object') {
                        $.each(obj, function (idx2, obj2) {
                            if (typeof obj2 == 'object') {
                                $.each(obj2, function (idx3, obj3) {
                                    if (typeof obj3 == 'object') {
                                        for (var i = 0; i < obj3.length; i++) {
                                            console.log(obj3[i].Name);
                                            $('#loadHere').append(
                                                '<tr>' +
                                                '<td>' + obj3[i].Name + '</td>' +
                                                '<td>' + obj3[i].CurrentGrade + '</td>' +
                                                '</tr>' +
                                                '</table>');

                                        }
                                    }
                                });
                            }
                        });
                    }
                });
            },
            error: function (xhr) {
                //debugger;
                console.log(xhr.responseText);
                alert("Error has occurred..");
            }
        });

    </script> -->
</div>
