﻿@model IEnumerable<StudentDash.Models.Course>
@if (Model.Count() > 0)
{
<table class="table table-responsive table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentGrade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentGrade)
        </td>
        <td>
           
            @Html.ActionLink("Details", "Details", "Courses", new { id = item.Id }, null)
        </td>
    </tr>
}

</table>
}
