﻿@model StudentDash.Models.Student

@{
    ViewBag.Title = "getStudentGpa";
}


<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentGPA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentGPA)
        </dd>

    </dl>
</div>

